<h3>Actualizar Tratado</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">ID Propiedad</label>
        <input type="string" class="form-control" id="propiedad" required [(ngModel)]="tratado.propiedad" name="propiedad">
      </div>
  
      <div class="form-group">
          <label for="name">ID Propietario</label>
          <input type="string" class="form-control" id="propietario" required [(ngModel)]="tratado.propietario" name="propietario">
      </div>
    
      <div class="form-group">
          <label for="name">Fecha</label>
          <input type="date" class="form-control" id="fecha" required [(ngModel)]="tratado.fecha" name="fecha">
      </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>