<h3>Actualizar Propetario</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Segundo Nombre</label>
        <input type="text" class="form-control" id="segundoNombre" required [(ngModel)]="propetario.segundoNombre" name="segundoNombre">
      </div>
  
      <div class="form-group">
          <label for="name">Primer Apellido</label>
          <input type="text" class="form-control" id="primerApellido" required [(ngModel)]="propetario.primerApellido" name="primerApellido">
      </div>
    
      <div class="form-group">
          <label for="name">Segundo Apellido</label>
          <input type="text" class="form-control" id="segundoApellido" required [(ngModel)]="propetario.segundoApellido" name="segundoApellido">
      </div>
  
      <div class="form-group">
          <label for="name">ID</label>
          <input type="number" class="form-control" id="id" required [(ngModel)]="propetario.id" name="id">
      </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>